$primary: #e00000;
$grey: #cecece;
$black: #363636;

@mixin container {
  max-width: 75rem + 2rem;
  margin: 0 auto;
  padding: 0 1rem;

  @include mobile {
  }
}

h1 {
  font-family: Cabin;
  font-size: 32px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
@mixin MobileMobile-Header {
  font-family: Raleway;
  font-size: 32px;
  font-weight: 500;
  color: #000000;
}
h2 {
  font-family: Cabin;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
h3 {
  font-family: Cabin;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
@mixin ButtonRed {
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 600;
  color: $primary;
}
@mixin ButtonPrimary {
  font-family: OpenSans;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
}
@mixin ButtonSecondary {
  font-family: OpenSans;
  font-size: 18px;
  text-align: center;
  color: $primary;
}
@mixin Menu-Link {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: bold;
  color: $primary;
}
@mixin NavigationButtonHover {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: $primary;
}
@mixin BodySemibold {
  font-family: OpenSans;
  font-size: 16px;
  font-weight: 600;
  color: $black;
}
@mixin NavigationButtonInactive {
  font-family: OpenSans;
  font-size: 16px;
  text-align: center;
  color: #707070;
}
@mixin BodyRegular {
  font-family: OpenSans;
  font-size: 16px;
  color: $black;
}
@mixin BodyItalic {
  font-family: OpenSans;
  font-size: 16px;
  font-style: italic;
  color: $black;
}

@mixin mobile {
  @media (max-width: 767px) {
    @content;
  }
}
