.about-us{

    @include container;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;

    h1{
        @include header1;
    }

    h2{
        @include header2;
        text-align: center;
        margin-bottom: 0.25rem;
    }

    b{
        border-bottom: 6px solid $primary;
        width: 0 0 4px;
    }

    h3{
        @include header3;
    }

    p{
        @include bodyText;
        font-size: 1.25rem;
        line-height: 2rem;
    }

    &__section{
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__divider{
        margin: 0;
        width: 32px;
        height: 6px;
        background: $primary;
    }

    &__us{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    &__person{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__image{
            max-width: 200px;
            height: auto;
            border-radius: 150px;
    }

    &__icons{
        width: 60%;
        display: flex;
        justify-content: space-around;

        & a{
            opacity: 0.6;
            height: 3rem;
            width: 3rem;
            text-align: center;

            &:hover{
                opacity: 1;
            }
        }

    }


}