.builder {
  @include container;
  @include menu;

  &__title {
    @include menuTitle;
  }

  &__new {
    @include primaryButton;
    margin-top: 2rem;
  }
}

.section {
  &__header {
    @include menuSectionHeader;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    display: flex;
    margin-right: 1rem;
  }

  &__center{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
  }

  &__right  {
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    width: 4rem;
  }


  &__title {
    @include menuSectionTitle;
    
  }

  &__description {
    @include bodyText;
  }


  &__button{
    @include iconButton;
    display: flex;

    & svg{
      @include icons;
    }
  }

  &__new {
    @include secondaryButton;
  }

  &__submenu{
    background: #FFF2F2;
    text-align: left;
    padding: 1rem 2rem;

    & button{
      background: none;

      &:hover{
        text-decoration: underline;
      }
    }
  }
  
  @include inputForm;
}

.item {
  @include menuItem;
  display: flex;
  justify-content: space-between;


  &__center{
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  &__name-price{
    display: flex;
    justify-content: space-between;
  }

  &__right {
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    width: 4rem;
  }

  &__button{
    @include iconButton;
    display: flex;

    & svg{
      @include icons;
    }
  }

  @include inputForm;
  &__form{
    background: #FAFAFA;
    padding: 2rem;
  }

  &__name{
    @include menuItemTitle;
    display: block;
  }

  &__description{
    @include menuItemDescription;
    display: block;
    align-self: flex-start;
  }

  &__price{
    @include menuItemPrice;
  }

}