.header {
    @include container;

    h1{
        @include header1;
    }

    h2{
        @include header2;
    }

    h3{
        @include header3;
    }

    p{
        @include bodyText;
    }

    
    &__nav {
        height: 5rem;
        padding: 1rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        font-size: 2rem;
        font-weight: 600;
    }

    &__navLink {
        @include navLink;
        background: white;
            border: none;

        & button{
            background: white;
            border: none;
        }
    }

    &__title{
        @include restaurantTitle;
        margin-bottom: 0.5rem;
        width: fit-content;
        border: 1px solid white;

        &:hover{
            border: 1px solid black;
        }
    }

    &__link {
        @include restaurantLink;
        display: block;
        margin-bottom: 1rem;
    }

    &__qr-container {
        display: flex;
        align-items: flex-start;
    }

    &__download {
        @include actionButton;
        margin-left: 1rem;
    }

    &__account{
        //background: #FAFAFA;
        width: 30%;
        padding: 1rem;
        border-radius: 1rem;
        & button{
            @include textLink;
            display: block;
            margin-bottom: 0.5rem;
        }
    }

    &__information{
        display: flex;
        justify-content: space-between;
    }

}